/* Font Variables
*******************************************************************************/
@font-face {
font-family: ArcherPro-Hairline;
src: url(../fonts/Archer/ArcherPro-Hairline.otf) format("opentype");
}

@font-face {
font-family: ArcherPro-Light;
src: url(../fonts/Archer/ArcherPro-Light.otf) format("opentype");
}

@font-face {
font-family: ArcherPro-Bold;
src: url(../fonts/Archer/ArcherPro-Bold.otf) format("opentype");
}

@font-face {
font-family: ArcherPro-Medium;
src: url(../fonts/Archer/ArcherPro-Medium.otf) format("opentype");
}

@font-face {
font-family: UniversLTStd-ThinUltraCn;
src: url(../fonts/Univers/UniversLTStd-ThinUltraCn.otf) format("opentype");
}

#Colors {
	maroon: #c54232;
	taupe: #c5b69b;
	cream: #fef6dd;
}

/* Reset
*******************************************************************************/
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* Main Styles
*******************************************************************************/
html {	
}

body {
	background-color: #fef6dd;	
	background: url(../img/bg.gif);
	margin-bottom:50px;
}


.container-fluid {
	margin: 0 auto;
}

.page-wrapper {
	margin-top: 5em;
	text-align:center;
}

h1 {
	font-family: ArcherPro-Medium;
	font-size: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

h2 {
	font-family: ArcherPro-Medium;
	font-size: 20px;	
}

h3 {
	font-family: ArcherPro-Bold;
	font-size: 16px;	
}
.row-fluid div.span9{
	float:none;
	margin:auto;
}


/* Navigation
*******************************************************************************/

.navbar {
	margin-top: 4em;
	z-index:200;
	width: 100%;
	background: url(../img/txtr.gif);
	height: 5.8em;
	border-top: 0.5em solid #c5b69b;
	left: 0;
}


#logo {
	width: 200px;
	height: 200px;
	z-index:7000;
	position: absolute;
	top:4em;
	margin-top: -3em;
	margin-left: 2em;
}


#main-menu-right{
	padding-top: 1.3em;
	float: right;
	font-family: ArcherPro-Hairline;
/*	opacity: 0.8;	*/
}

#main-menu-right:hover {
	opacity: 1;	
}

#main-menu-right li{
	display: inline-block;
/*	margin: 0.5em;*/
	font-size: 1.7em;
	font-style: italic;
	font-weight: lighter;
	color: #fff;
/*	height: 1em;*/
	text-align: top;
/*	border-right: 2px solid #fff;*/
}


.pic-icon img{
	vertical-align: baseline;
	width:100%;
	height:100%;	
}
.plus{
	width:44px;
	height:34px;
}

.notlast:after{
	font-size: 1.1em;
	font-weight: 100;
	content:"|";
}

.space:before {
	content:" ";
}

/* Nav Icons
*******************************************************************************/

#main-menu-right #logout{
	opacity: 0.7;
}

#logout-button{
	background-color: transparent;
	border: 0;
	color: #fff;
	font-family: ArcherPro-Hairline;
	font-size: 1em;
	font-style: italic;
	font-weight: lighter;
	padding-right: 1em;
	
}

#logout-button:hover{
}




/* Login/Signup Page
*******************************************************************************/
#join {
	margin-top:350px;
	font-family: UniversLTStd-ThinUltraCn;
	font-size: 170px;
	position:relative;
	color: #c5b69b;
	margin-left: 0;
	margin-right: 0;
	
}

#subtitle {
	font-size:20px;
	position: relative;
	top: 40px;
	color: #b9aa8e;
	font-family: 'Oleo Script', cursive;
}

.button-wrap {
	background-color: #c54232;
	margin:0 auto;
	width: 220px;
	font-family: ArcherPro-Light;
	color:white;
	margin-bottom: 10px;
	padding: 5px;
}

.front-pg-buttons {
	background-color: #c54232;
	margin-left: 0;
	margin-right: 0;
	color: white;
	font-family: ArcherPro-Light;
	border: 2px solid #fef6dd;
}

.front-pg-buttons:hover {
	background-color: #fef6dd;
	border: 2px solid #fef6dd;
	color: #c54232;
}

.front-pg-buttons:active {
	background-color: #b9aa8e;
}

#login-button{
	width: 215px;
}

#signup-button{
	width: 215px;
}

/* 2- Home/Dashboard
*******************************************************************************/
#home-dash {
	height: 55em;
	padding: 2em;	
	position:relative;
/*	background-color: #c54232;*/
	text-align: left;
	border-left: 6px solid #c1c1c1;
	margin-top: 16em;
	margin-left: 5em;
	font-size: 1em;

}

#notif {
	min-height: 60em;
	padding: 0;	
	position:relative;
	background-color: #f1e2c7;
	margin-top:-5em;
	overflow: hidden;
/*	height: */
	margin-bottom:0;
}

.inner-content {
	border: 0.3em solid #fef6dd;
	background-color: #c54232;
	height: 100%;
	width: 92%;
	margin: 0 auto;
	padding: 2em;
}

.inner-content h1{
	margin-bottom: 0.3em;
}

#pic {
	background: url(../img/fb-profilepic.jpg);
	width: 150px;
	height: 100px;
	background-position:center; 
	background-size: 150px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;	
}

#name {
	margin-bottom: 20px;
}

.attendee {
	background: url(../img/fb-profilepic.jpg);
	width: 80px;
	height: 70px;
	background-position:center; 
	background-size: 100px;
	display: inline-block;
/*	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;*/	
}

.trip-dash-details {
/*	height: 30px;*/
	width: 90%;
	background-color: #c5b69b;
	margin: 0 auto;
	padding: 10px;
	margin-top:20px;
}

.mode {
	margin: 0 auto;
	width: 80px;
	height: 80px;
	background-color: #c5b69b;
	border: 3px solid #c54232;
	border-radius: 60px;
	vertical-align: baseline;
	line-height: 80px;
}

/* Create trip
*************************************************/
.create .row-fluid.firstfluid .span9{
	padding:30px;
	background-color: #c54232;
	color: #fef6dd;
	margin: 0 auto;
	float:none;
}

.row-fluid.firstfluid .row-fluid{
	border: 3px solid #fef6dd;
	margin: auto;
	width:92%;
	padding: 2em;
}
.create #preview_method{
	padding-top: 15px;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.create .span4{
	text-align: right;
}
#create-trip{
	text-align: left;
	margin:auto;
	padding-left: 19px;
}
.span4 #trip_name{
	margin-top: 55px;
}
.span4 #trip_date{
	margin-top: 70px;
}
.span4 #trip_dest{
	margin-top: 71px;
}
.span4 #trip_friends{
	margin-top:60px;
}
input.trip-input{
	margin-top: 30px;
	margin-bottom: 30px;
}
#create-trip .trans-mode{
	display:none;
}

.create .span8{
	padding-bottom: 25px;
}
.create .but{
	color:#c54232;
	background-color: #fef6dd;
	border: 2px solid #c54232;
	font-family: ArcherPro-Light;
}

/* Settings
*******************************************************************************/
#settings_saved {
	font-family: ArcherPro-Medium;
	display: none;
}

#upload_prof {
	background-color: #c5b69b;
	color: #fff;
}

#middle_settings {
	text-align:center;
	margin-top: 20px;
}

#bottom_settings {
	margin-top: 20px;
	text-align:center;
	padding-bottom: 20px;
}


#settings-page {
	min-height: 600px;
	padding: 20px;	
	position:relative;
	background-color: #c54232;
	text-align: center;
}


.settings_button{
	display:block;
	margin:auto;
	margin-top:5px;
	margin-bottom: 5px;
	border-radius: 15px;
	width:100px;
}
.settings{
	color: #fef6dd;
}
div.settings div.row-fluid div.span9{
	background-color: #c54232;
	padding: 30px;
	margin: auto;
	color: #fef6dd;
}
.settings .inner-content{
	border: 3px solid #fef6dd;
	margin: 0 auto;
}
#settingswrap{
	padding-top:20px;
	border: 2px solid #fef6dd;
 
}
.settings form{
	text-align: right;
	width:400px;
	margin: auto;
}
input.cur{
	padding-right: 25px;
}
input.new{
	padding-right: 25px;
}
#save_settings{
	margin-bottom:40px;
	width:auto;
}
.ital{
	font-style: italic;
	font-size: .9em;
}
.settings button{
	width:230px;
	color:#c54232;
	background-color: #fef6dd;
	border: 2px solid #c54232;
	font-family: ArcherPro-Light;
}


/*Dashboard
*******************************************************************************/

.dashboard{
  background-color: #c54232;
  width:80%;
  margin:auto;
  margin-top: 190px;
 
}
#filter_categories li, #categories_input li{
  display:inline;
}
#trip_header{
  color: #fef6dd;
  padding-top: 30px;
  padding-bottom: 15px;
  border-bottom: 3px solid #fef6dd;
}
#trip_header div{
  display:inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-left: 10px;
}
#trip_logistics div{
  display:block;
}
#attending{
  text-align: left;
}

#trip_categories{
  margin-top: 3px;
  border-top: 3px solid #fef6dd;
  color: #fef6dd;
  text-align: left;
}
#trip_categories *{
  text-align: left;
  padding-left: 15px;
}
#trip_categories h3{
  margin-top: 20px;
  margin-bottom: 0;
  float:left;
}
#trip_categories h6{
  display:inline;
  font-size:15%;
  font-style: italic;
}
#trip_categories #filter_categories{
  display:inline;
}
#trip_notes{

  padding-top: 20px;
  padding-bottom: 35px;
  clear:both;
}
#trip_input{
  border-top: 3px solid #fef6dd;
  margin-top: 15px;
  text-align: left;
  height:auto;
}
#categories_input{
	margin-left: 0;
  display: inline-block;
  margin-bottom: 0;
  padding: 15px;
}
textarea{
  display: inline-block;
  color: #fef6dd;
}.filter{
	float:left;
}
#filter_categories{
	padding-left: 0;
	margin: 0;
	float:none;

}
#filter_categories li{
	width:0;
	padding-left: 0;
}
#filter_categories li img{
	width:60px;
	padding-left: 0;
}
.dashboard textarea{
	width:75%;
	height:inherit;
	float:right;

}
#categories_input li img{
	width:60px;
	padding-left: 0;
}
#transport_method{
	width:80px;
	height:80px;
	border-radius:40px;
	color:#c54232;
	background-color:#fef6dd;
	vertical-align: center;
}

/*Trip Preview
*******************************************************************************/
#preview_method{
	padding-bottom: 15px;
}
#preview_method li{
	display:inline-block;
	width:80px;
	height:80px;
	border-radius: 40px;
	background: #fef6dd;
	color:#c54232;
	margin-right: 10px;
	line-height: 80px;
	border: 2px solid #fef6dd;
}

#preview_method li.trans-mode-select{
	border: 2px solid #fef6dd;
	background: #c54232;
	color:#fef6dd;
}

.trip-preview{
	text-align: center;
	margin:auto;
	font-family: ArcherPro-Light;
	font-size: 18px;
}

h1.trip-preview{
	font-size: 28px;
	text-transform: uppercase;
	font-weight: bolder;
}

#trip-preview-content{
	border: 3px solid #fef6dd;
	margin: 0 auto;
	text-align: center;
}

td{
	height: 60px;
	vertical-align: top;
	width:100px;
	text-align: left;
	font-style: italic; 
}
.first{
	text-align: right;
	text-transform: uppercase;
	font-style: normal;
}
.sec{
	width:30px;
}

#preview-trip{
	background-color: #c54232;
	padding: 30px;
	margin: 0 auto;
	color:#fef6dd;
}

#preview-trip button{
	width:100px;
	color:#c54232;
	background-color: #fef6dd;
	border: 2px solid #c54232;
	font-family: ArcherPro-Light;
	padding: 3px;
	padding-top: 6px;
	margin-right: 10px;
}
.lastrow{
	margin-top:150px;
	vertical-align: bottom;
}






/* new dash styles */
#user-pic {
	width: 200px;
	height: 200px;
	border-radius: 150px;
	background-color: gray;
	border: 10px solid #c1c1c1;
	background: transparent;
	
	position: relative;
	margin-top: -17em;
	margin-left: -10em;
}

#user-pic-inner {
	width: 150px;
	height: 150px;
	border-radius: 100px;
	background-color: white;
	border: 5px solid #c1c1c1;
	background-image: url(../img/fb-profilepic.jpg);
	background-size: 100% 100%;
	margin:auto;
	margin-top:10%;
}

#users_name{
	font-size: 3em;
	position:absolute;
	left: 120%;
	top: 40%;
	min-width: 400px;
	color: #c54232;
	font-family: ArcherPro-Medium;
}
.home-dash-item {
	margin-top:3em;
	background-color: #c54232;
	margin-bottom: 7em;
}

.open {
	width: 50px;
	height: 50px;
	background-color: #c1c1c1;
	border-radius: 50px;
	position: absolute;
	left: -2em;
}

.home-dash-item-header {
	font-family: ArcherPro-Medium;
	font-size: 2em;
	padding: .5em;
	color: #fff;
	line-height: 1.2;
}

.home-dash-item-location {
	font-family: ArcherPro-Hairline;
	font-size: .8em;
}

.home-dash-item-date {
	font-family: ArcherPro-Hairline;
	position: absolute;
	right:2em;
	font-size: .8em;
	
}

.icon-question{
	width: 100%;
	height: 100px;
	background-color: #c54232;
	background-image: url(../img/questionmark.png);
}

.icon-food{
	width: 100%;
	height: 100px;
	background-color: #c54232;
	background-image: url(../img/forks.png);
}

.icon-car{
	width: 100%;
	height: 100px;
	background-color: #c54232;
	background-image: url(../img/camera.png);
}

.icon-shop{
	width: 100%;
	height: 100px;
	background-color: #c54232;
	background-image: url(../img/plus.png);
}

.home-dash-item-data {
	height: 408px;
	background-color: #fff;
	border-right: 8px solid #c1c1c1;
	border-bottom: 8px solid #c1c1c1;
	border-radius: 8px;
	font-size: 1.5em;
	line-height: 1.3;
	font-family: ArcherPro-Medium;
}

.home-dash-item-response {
	background-color: #c1c1c1;
	color: #fff;
}






/* Travel Feed */
#travel-feed-title {
	background-color: #c54232;
	padding: 8%;
	font-size: 3em;
	font-family: ArcherPro-Light;
	border-radius: 20px;
/*	height:100px;*/
	margin-top: 3em;
	color: #fff;
}

.travel-feed-arrow {
	width: 60px;
	height: 60px;
	background-color: #c54232;
	background-image: url(../img/plus.png);
}

.travel-feed-notification {
	background-color: #fff;
	font-family: ArcherPro-Medium;
	border-radius: 20px;
	color: #c54232;
/*	height: 100px;*/
	padding-bottom: 15px;
	
}

.travel-feed-notification-details {
	color: #c54232;
	margin-top: 3em;
	font-size: 1.6em;
	padding: 5px;
	
	
	
}

.travel-feed-add {
	width: 20px;
	height: 20px;
/*	background-color: #c54232;*/
	background-image: url(../img/add.png);
	color: #c54232;
	font-size: 1.2em;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 20px;
/*	opacity: .8;*/
}

.travel-feed-add p {
	font-size: 1.2em;
	position: relative;
	left: 150%;
	top: 10%;
}

.travel-feed-decline {
	width: 20px;
	height: 20px;
/*	background-color: #c54232;*/
	background-image: url(../img/decline.png);
	color: #c54232;
	font-size: 1.2em;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 20px;
	
}

.travel-feed-decline p {
	font-size: 1.2em;
	position: relative;
	left: 170%;
	top: 10%;
}


.row .home-dash-item {
	margin-left: 3em;
}


