/* Main Styles
*******************************************************************************/
html {	
}

body {
}

#page-wrapper {
	margin: 0 auto;
}

#nav-bar-wrapper {
	height: 20px;
	color: blue;
}




/* Login/Signup Page
*******************************************************************************/